
.banner{
    width:100%;
}
.banner img{
    width: 100%;
    height: 500px;
}

.caixa-mae{
    width: 100%;
    height:400px;
    
    display:flex;
    gap: 10px;
    /* background-color: red; */
}

.caixa-principal{
                    display: flex;
                    justify-content: center;
                    width: 50%;
                    height: 400px;
                    background-color: green;
                    margin-top: 10px;
                    margin-left: 2px;

}

.caixa-principal img{
    width:100%;
    height: 400px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding:0;
  }
  
  ul {
    
    list-style-type: none;
    margin-top: -10px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    text-align: center;
  }
  
  li {
    
    display:inline-block;
    padding-top:6px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    transition: 1s;
    background-color: #111;
  }

  .texto1{
    margin-top: 10px;
    margin-right: 2px;
    padding: 5px;
    width: 50%;
    height:400px;
    /* background-color: blue; */

  }

  .procedimentos{
    width: 100%;
    height: 500px;
    /* background-color: red; */
    
    display: flex;
    justify-content: center;
  
  }
  h1{
    height: 50px;
    background-color: #333;
    text-align: center;
    border-radius: 12px 12px 0px 0px;
    padding-top: 5px;
    color: white;
  }

  .proced{
    width: 500px;
    height: 400px;
    background-color: aqua;
    margin: 5px;
    padding:5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .tituloproced{
    width: 400px;
    height: 30px;
    color: rgb(44, 44, 44);
    padding-left: 350px;
    /* background-color: blue; */
    position: absolute;   
    margin: 0px;
  }

 .textoporeced{
      padding-top:30px;
 } 
  

  .proced-img{
    width: 150px;
    height: 150px;
    margin-left: 3px;
    padding-top: 40px;
    border-radius: 10px ;
  }